*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn{
background-color:  #469165;
border: none;

border-radius: 4px;
 padding: 12px 16px;

 font-size:16px;
font-weight:600;
color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
padding: 12px 16px;
border: 1px solid  #469165;
}

.btn-default{
 /* background-color:none;
border:1px solid #fdfbfb;
border-radius: 4px;
 padding: 12px 16px;
 font-size:16px;
font-weight:600;  */
background-color:transparent;
border-radius: 4px;
 padding: 12px 16px;
font-size:16px;
font-weight:600;
color:white;
align-items: center;
border: 1px solid white;
padding: 12px 16px;
} 





.btn .pic {
  display: flex;
  width: 16px;
  height: auto;
  align-items: center;
  text-align: center;
}

  .button-section .btn {
    
    align-items: center;
  }






/shared style/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}
 
header{
  padding top:16px;
}
nav{
  width: 71%;
  max-width:1140px ;
  
  margin: 0 auto;
  display: flex;
  justify-content:space-between ;
align-items: center;
 
}

.logo
{
  width:139px;
}

nav .menu{
  display: flex;
  list-style-type:none ;
  gap:32px;
  align-items: center;

}

nav .menu a{
text-decoration:none ;

}

#hero-section{
width: 71%;
max-width: 1140px;
align-items: center;
text-align: center;
justify-content: center;
margin: 0px auto;



}


#hero-section .hero-section-main-container .button-section {
  align-items: center;
}

#hero-section {
  background-image:url(../images/assets/hero-bg.png);
background-size: cover;
height:627px;
width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#hero-section .hero-section-content h1 {
   
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

#hero-section .hero-section-content h1 .head-text-color {
   
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 84px;
  color:#30B868;
  line-height: 84px;
}



#hero-section .hero-section-content p 
{
  font-weight: 400px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color:#FFFFFF;
}


#hero-section .hero-section-content {
  width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
/* card section suru */


.container .card-container .card-section h1 {
  color: #001939;
  font-size: 24px;
  }

  .container .card-container .card-section h3 {
  color: #627382;
  font-size: 16px;
  }

.icon-box {
  width: 80px;
  height: 80px;
  background-color: #ff5a4f;
  border-radius: 50%;

  text-align: center;
  line-height: 80px;
}

.icon-box img {
  width: 35px;
  vertical-align: middle;
}

  .container {
 width: 71%;
max-width: 1140px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
  }

    .container .text-container  h3 {
  color: #627382;
  font-size: 16px;
 }

    .container .text-container{
 
max-width: 1140px;
  flex-direction: column;
  align-items: center;
  text-align: center;

    }

    .container .card-container {
      display: flex;
     margin-top:44px;
     gap: 24px;
  text-align: center;
    }

     .container .card-container .card-section {
      padding: 69px 24px;
      width: 322px;
      box-shadow: 0px 0px 8px #0000000F;

      
     }

     .container .card-container .card-section .icon-box{
      margin-bottom: 16px;
      margin: 0 auto;
    }
     .container .card-container .card-section h1,h3 {

       margin-bottom: 16px;
      }



      #third-section {
  display: flex;
  width: 1360px;
height:627px;
width: 100%;
margin-top: 120px;
gap:60px;
}

#third-section .picture-content {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
text-align: left;
margin: 0px auto;

}





#third-section .picture-content h3{
    
  color: #30B868;
  margin-bottom: 16px;
}
#third-section .picture-content h1 {
  color: #001931;
  font-weight: 700;
   margin-bottom: 16px;
   font-size: 48px;
}

#third-section .picture-content h4 {
    color:#627382;
  font-weight: 400;
   margin-bottom: 40px;
   font-size: 16px;

}

#third-section .picture-content ul{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
list-style-image: url(../images/assets/CheckCircle.png) ;
}

#third-section .picture-content ul li {
    margin-bottom: 6px; }  
    
    
    .fourth-section .btn {
      margin-bottom: 16px;
    }


.fourth-section {
    text-align: center;  
    padding: 50px 20px;  
    background-color: #f5f7fa;
    width: 1360px;
    margin: 0px auto;
}

.fourth-section h1 {
    margin-bottom: 16px;

}

.fourth-section h4 {
 color:#627382;
  font-weight: 400;
   
   font-size: 16px;
   margin-bottom: 16px;
}


.footer-container {
  background-color: #001931;
  display: flex;
  justify-content: space-between;
  padding: 120px;
}

.foot-container {
  background-color: #001931;
padding-bottom:30px;


}

.foot-container .copyright{
display: block;
max-width: 1140px;
margin:0 auto 30px;
padding: 0 20px;        
text-align: center;
color: #f5f7fa;

}

.footer-container li{
  list-style:none;
  display: inline-block;
  margin-right: 12px;
}

.footer-right h4{
  color: aliceblue;
}
  
.copyright{
  margin-top:16px;
}

.copy-right hr { 
  
  margin: 0 15px;
  
}